<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="/css/Poke.css">
        <link rel="stylesheet" type="text/css" href="/css/register.css">
        <script src="/Poke.js"></script>
    </head>

    <body>
        <h1>Login into an account</h1>
        <form>
            <input type="text" id="name" name="nameInput" placeholder="Enter your name here:">
            <input type="password" id="password" name="passwordInput" placeholder="Enter you Password here:">
            <input type="submit" value="Submit" onclick="nameYou()">
        </form>
    </body>
    <script>
        function login(){
            const name = document.getElementById("name").value
            const password = document.getElementById("password").value
            // insertIntoDB(name, "insert into trainer values (null, ?, 0, 'Battlia City', 'Home'); ")
            console.log("password:", password);
            addPlayer(name, password)
        }
    </script>

</html>