<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <link rel="stylesheet" type="text/css" href="/css/Poke.css">
    <script src="/Poke.js"></script>
</head>

<body>
<h1>PokeSQL</h1>
<img src="/map.jpg" usemap="#worldMap" alt="Beispielbild">
<map name="worldMap">
    <area shape="rect" coords="169,101,259,143" href="/destination/City1" alt="Bereich 1">
    <area shape="rect" coords="222,250,312,292" href="/destination/City2" alt="Bereich 2">
    <area shape="rect" coords="755,110,845,152" href="/destination/City3" alt="Bereich 3">
    <area shape="rect" coords="482,155,572,197" href="/destination/City4" alt="Bereich 4">
    <area shape="rect" coords="470,313,560,355" href="/destination/City5" alt="Bereich 5">
    <area shape="rect" coords="825,320,905,362" href="/destination/City6" alt="Bereich 6">
    <area shape="rect" coords="465,470,555,512" href="/destination/City7" alt="Bereich 7">
    <area shape="rect" coords="120,420,210,462" href="/destination/City8" alt="Bereich 8">
    <area shape="rect" coords="798,502,878,544" href="/destination/City9" alt="Bereich 9">
    <area shape="rect" coords="200,560,290,602" href="/destination/City10" alt="Bereich 10">
    <area shape="rect" coords="105,675,195,717" href="/destination/City11" alt="Bereich 11">
    <area shape="rect" coords="460,672,550,714" href="/destination/City12" alt="Bereich 12">
    <area shape="rect" coords="803,745,893,787" href="/destination/City13" alt="Bereich 13">
    <area shape="rect" coords="240,833,330,875" href="/destination/City14" alt="Bereich 14">
    <area shape="rect" coords="463,830,553,872" href="/destination/City15" alt="Bereich 15">
</map>
</body>
</html>