<!DOCTYPE html>
<html>
    <head>
        <title>Start page</title>
        <link rel="stylesheet" type="text/css" href="/css/Poke.css">
        <script src="/Poke.js"></script>
    </head>

    <body>
        <b>Enter your name</b> <br>
        <input type="text" id="nameInput" name="nameInput">
        <div><button onclick="nameYou()">Done</button></div>   
    </body>
    <script>
        function nameYou(){
            const name = document.getElementById("nameInput").value
            insertIntoDB(null, null)
        }
    </script>
</html>