<!DOCTYPE html>
<html>
    <head>
        <title>Start page</title>
        <link rel="stylesheet" type="text/css" href="/css/Poke.css">
        <script src="/Poke.js"></script>
    </head>

    <body>
        <b>Enter your name</b> <br>
        <input type="text" id="name" name="nameInput">
        <input type="password" id="password" name="passwordInput">
        <div><button onclick="nameYou()">Done</button></div><br>
        <div class="res"></div>
    </body>
    <script>
        function nameYou(){
            const name = document.getElementById("name").value
            const password = document.getElementById("password").value
            // insertIntoDB(name, "insert into trainer values (null, ?, 0, 'Battlia City', 'Home'); ")
            console.log("password:", password);
            addPlayer(name, password)
        }
    </script>

</html>