<!DOCTYPE html>
<html>
<head>
    <title>City</title>
    <link rel="stylesheet" type="text/css" href="../css/Poke.css">
    <link rel="stylesheet" type="text/css" href="../css/city_preview.css">
    <script src="/city.js"></script>
</head>

<body>
    <h1 >City: </h1>
    <div class="container">
        <button onclick="goToMap()">← <b>Map</b></button>
        <button><b>Visit Destination</b></button>
    </div>
    <h2>Pokemon</h2>
    <table>
        <tr>
            <th>Pokemon</th>
            <th>Probability</th>
            <th>Level Range</th>
        </tr>
        <tr>
            <td>Desperator</td>
            <td>0.1%</td>
            <td>65-70</td>
        </tr>
    </table>
    <h2>Trainer</h2>
    <table>
        <tr>
            <th>Trainer</th>
            <th>Reward</th>
            <th>avg Team Level</th>
        </tr>
        <tr>
            <td>Ash</td>
            <td>1500</td>
            <td>87</td>
        </tr>
    </table>
    <h2>Locations</h2>
    <ul>
        <li>Poke Center</li>
        <li>Shop</li>
    </ul>
    <table>
        <tr>
            <th>Destination</th>
            <th>Blueprint</th>
        </tr>
            <% pokemonSpawns.forEach(spawn => { %>
            <tr><td><%= spawn.destination %></td> <td><%= spawn.name %></td></tr>
        <% }); %>
    </table>
</body>
</html>