<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="/css/Poke.css">
        <link rel="stylesheet" type="text/css" href="/css/user.css">
        <script type="module" src="/User.js"></script>
    </head>

    <body>
    <header>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/map">Map</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/pokedex">Pokedex</a></li>
            </ul>
        </nav>
    </header>
        <h1>Login into an account</h1>
        <!-- <form> -->
            <input type="text" id="username"  placeholder="Enter your username here:">
            <input type="password" id="password" placeholder="Enter you Password here:">
            <input type="submit" value="Submit" onclick="checkLogin()">
        <!-- </form> -->
        <div id="res"></div>
        <button onclick="location= '/register'" class="linkButton">No account? Register here!</button>
    </body>
    <script>
        async function checkLogin() {
            const username = document.getElementById("username").value  
            const password = document.getElementById("password").value
            const resHTML = document.getElementById("res")
            if (await login(username, password)) resHTML.innerHTML = "Login success"
            else resHTML.innerHTML = "Login has failed! Password or username is wrong."
        }
    </script>

</html>