<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8" />
   <title>Pokedex</title>
   <link rel="stylesheet" type="text/css" href="/css/Poke.css">
   <link rel="stylesheet" type="text/css" href="/css/pokedex.css">
   <script type='module' src="/pokedex.js"></script>
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/map">Map</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/pokedex">Pokedex</a></li>
        </ul>
    </nav>
</header>
   <h1>Pokedex</h1>
   <div class="search-wrapper">
    <label for="search">Search Pokemon</label>
    <input type="search" id="search" data-search>
  </div>
  <div class="entry-cards" pokedex-entry-cards-container>
      <template pokedex-entry-template>
         <div class="card">
            <div class="icon"><img src="" alt="Pokemon Image" entry-icon></div>
            <div class="name" entry-name></div>
            <div class="body" entry-body></div>
         </div>
      </template>
   </div>
</body>
</html>