<!DOCTYPE html>
<html>
<head>
    <title>Pokemon Scuffed Grey</title>
    <link rel="stylesheet" type="text/css" href="/css/Poke.css">
    <script src="/Poke.js"></script>
</head>

<body>
<h1>PokeSQL</h1>
<h2>Aufe dieser Seite kannst du lernen SQL zu programmieren und dabei meine Version von Pokemom zu spielen.</h2>
Enter your name: <br>
 <input id="input">
<button onclick="postOrder(document.getElementById('input'))">Enter SQL Befehl</button>
<div><label id="ans">Hallo</label></div>
</body>
</html>