body{
    text-align: center;
    background-color: rgb(15, 70, 70);
    color: white;
}

h1{
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}

h2{
    color: beige;
}

area:hover{
    cursor: pointer;
}