.diverse{
    text-align: center;
    background-color: black;
}

button{
    height: 5em;
    width: 80%;
    border: 3px solid black;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

input{
    height: 10em;
    width: 80%;
}

button:hover{
    background-color: rgb(216, 216, 216);
}

.linkButton{
    border-radius: 2em;
    width: 20%;
    margin-top: 20%;
}

input[type=submit]:hover{
    cursor: pointer;
}
